body{
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif,  ;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    height: 100vh;
     
}
.container{
    width: 300px;
    height: 400px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 40px;
    margin: 0;
    padding: 10px 0;
    color: white;
    text-align: center;
}
.button{
    background-color: rgb(77, 72, 72);
    width: 55px;
    color: white;
    padding: 10px;
    margin: 2px 2px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: medium;
    box-shadow: 1px 1px 5px rgb(116, 114, 114);
}

.row{
    margin: 8px 0;
}
 
.row input{
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    border: 2px solid #000;
    border-radius: 5px;
    letter-spacing: 2px;
}

.input{
    width: 100%;
    text-align: right;
    padding: 10px 0;
    border: none;
    background-color: #d7d798;
    color:black;
}

.button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s;
}